<!--logo-->
<header class="logo-login"><img class="logo" src="i/logo.png"></header>
<!--welcome message-->
<div class="admin-message">
    <h1>Administration Dashboard</h1>
</div>
<!--dashboard-->
<div class="dashboard">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#/appSettings" class="app-settings">
                Application Settings
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#/logHistory" class="log-history">
                Log History
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#/visitReason" class="visit-reason">
                Visit Reasons
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#/listOfHosts" class="hosts">
                List of Hosts
            </a>
        </div>
    </div>
</div>
