<!--form-->
<form  class="{{!validForm?'invalid':''}}" name="form" data-ng-submit="setBadgeNumber(badgeNumber)">
    <div class="row">
        <div class="col-sm-12">
            <label>What Is Your Badge Number</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input class="{{badgeNumber===''?'empty':''}}" type="text" data-ng-model="badgeNumber" placeholder="Badge Number"/>
        </div>
    </div>

    <div class="row btnRow">
        <div class="col-sm-6">
            <a href="javascript:" data-ng-click="stepBack()" class="btn grayBtn">BACK</a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn yellowBtn">NEXT</button>
        </div>
    </div>
</form>