<!--welcome message-->
<div class="welcome-message">
    <h1 class="greeting">Complete!</h1>
    <div class="sign-in-msg">
        <span>Thank you, {{visitorName}}. You have been signed in!</span>
        <span data-ng-show="visitingHost">Your host, {{visitingHost}}, has been notified of your arrival.</span>
    </div>
</div>
<!--form-->
<form name="signInForm" data-ng-submit="toSignIn()">
    <div class="row btnRow">
        <div class="col-sm-12">
            <button type="submit" class="btn yellowBtn">BACK TO SIGN IN</button>
        </div>
    </div>
</form>